<div class="box-2" data-source-url="{{skin url='images/media/box-2.jpg'}}">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="title-row">SAVE IN STYLE</div>
				<div class="desc-row">With the discount <br />clothing!</div>
				<button type="button" title="View Collection" class="button btn-row" onclick="setLocation('{{store url=''}}women-8')"><span><span>View Collection</span></span></button>
			</div>
		</div>
	</div>
</div>