<h2>Address</h2>
<ul>
<li><h3>Address 1:</h3>
<p>The Company Name Inc. 9870 St Vincent Place,Glasgow, DC 45 </p>
</li>
<li><h3>Telephone:</h3>
<p>+1 (234) 567-8901<br/>
+1 (234) 567-8902 </p>
</li>
<li class="last"><h3>Address 2:</h3>
<p>The Company Name Inc. 9870 St Vincent Place,Glasgow, DC 45 </p>
</li>
</ul>