<div class="footer-col">
	<h4>Why buy from us</h4>
	<div class="footer-col-content">
		<ul>
			<li><a href="#">Shipping & Returns</a></li>
			<li><a href="#">Secure Shopping</a></li>
			<li><a href="#">International Shipping</a></li>
			<li><a href="#">Affiliates</a></li>
			<li><a href="#">Group Sales</a></li>
		</ul>
	</div>
</div>
<div class="footer-col">
<h4>My account</h4>
	<div class="footer-col-content">
		<ul>
			<li><a href="{{store url='customer/account/login/'}}">Sign In</a></li>
			<li><a href="{{store url='checkout/cart/'}}">View Cart</a></li>
			<li><a href="{{store url='wishlist/'}}">My Wishlist</a></li>
			<li><a href="#">Track My Order</a></li>
			<li><a href="#">Help</a></li>
		</ul>
	</div>
</div>
<div class="footer-col last">
<h4>Contacts</h4>
	<div class="footer-col-content">
		<p>Company Inc., 8901 Marmora Road, Glasgow, D04 89GR</p>
		<p class="tel">800-2345-6789;  800-2345-6790</p>
		<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
	</div>
</div>