<div class="footer-col">
	<h4>?Por que comprar ?</h4>
	<div class="footer-col-content">
		<ul>
			<li><a href="#">Envios y Devoluciones</a></li>
			<li><a href="#">Compras Seguras</a></li>
			<li><a href="#">Envio internacional</a></li>
			<li><a href="#">Afiliados</a></li>
			<li><a href="#">Ventas de Grupo</a></li>
		</ul>
	</div>
</div>
<div class="footer-col">
<h4>Mi cuenta</h4>
	<div class="footer-col-content">
		<ul>
			<li><a href="{{store url='customer/account/login/'}}">Inicia sesion</a></li>
			<li><a href="{{store url='checkout/cart/'}}">Ver Carrito</a></li>
			<li><a href="{{store url='wishlist/'}}">Mi lista de deseos</a></li>
			<li><a href="#">Estado de mi pedido</a></li>
			<li><a href="#">Ayuda</a></li>
		</ul>
	</div>
</div>