<ul class="list-icon">
   <li><a class="fa fa-twitter" target="_blank" href="https://twitter.com/"></a></li> 
   <li><a class="fa fa-facebook" target="_blank" href="http://www.facebook.com/"></a></li>
   <li><a class="fa fa-rss" target="_blank" href="#"></a></li>
</ul>