<div class="menu-content-2">
	<div class="col_1">
		<div class="title-menu"><a href="{{store url=''}}cameraphones-3.html">Lorem ipsum dolor sit amet conse ctetur</a></div>
		<a class="link-img" href="{{store url=''}}cameraphones-3.html"><img  src="{{skin url=''}}images/media/menu-ban-6.jpg" /></a>
		<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
	</div>
	<div class="col_1">
		<div class="title-menu"><a href="{{store url=''}}cameraphones-3.html">Excepteur sint occaecat cupidatat </a></div>
		<a class="link-img" href="{{store url=''}}cameraphones-3.html"><img  src="{{skin url=''}}images/media/menu-ban-7.jpg" /></a>
		<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
	</div>
	<div class="col_1">
		<div class="title-menu"><a href="{{store url=''}}cameraphones-3.html">voluptate velit esse cillum dolore </a></div>
		<a class="link-img"  href="{{store url=''}}cameraphones-3.html"><img  src="{{skin url=''}}images/media/menu-ban-8.jpg" /></a>
		<p>Sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
	</div>
	<div class="col_1">
		<div class="title-menu"><a href="{{store url=''}}cameraphones-3.html">esse cillum dolore eu fugiat</a></div>
		<a class="link-img"  href="{{store url=''}}cameraphones-3.html"><img  src="{{skin url=''}}images/media/menu-ban-9.jpg" /></a>
		<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
	</div>
</div>