<div class="menu-banner">
<span><a class="f-left" href="{{store url=''}}accessories.html"><img src="{{skin url=''}}images/media/menu-ban-1.jpg" alt=""  /></a></span>
<span><a class="f-left" href="{{store url=''}}accessories.html"><img src="{{skin url=''}}images/media/menu-ban-2.jpg" alt=""  /></a></span>
<span><a class="f-left" href="{{store url=''}}accessories.html"><img src="{{skin url=''}}images/media/menu-ban-3.jpg" alt=""  /></a></span>
<div>