<script src="{{skin url='js/jquery.mb.YTPlayer.js'}}"> </script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|Windows Phone/i.test(navigator.userAgent);
        if(jQuery(!isMobile).length){ 
            if(jQuery(".box-1").length){ 
                jQuery(function(){
                    jQuery(window).resize(function() {
                       var bodyWidth=jQuery('body').width();
                       jQuery('.box-1').css({'width':bodyWidth, 'margin-left':-bodyWidth/2});
                    }).trigger('resize');
                    jQuery("#bgndVideo").YTPlayer();
                });
            };
        };
});
</script>
<div class="box-1">
    <div id="bgndVideo" data-property="{videoURL:'http://youtu.be/0TSSoT4c2BI', containment:'#bgndVideo', autoPlay:true, stopMovieOnBlur:false, addRaster:true, mute:true, opacity:1, loop:true, showControls:false, quality:'medium', startAt:'0', mute:'true'}"></div>
    <div class="container">
    	<div class="row">
    		<div class="col-xs-12">
    			<div class="title-row">BUY THE MOST <br />STYLISH APPAREL</div>
    			<div class="desc-row">For the whole family!</div>
    			<button type="button" title="View Collection" class="button btn-row" onclick="setLocation('{{store url=''}}accessories')"><span><span>View Collection</span></span></button>
    		</div>
    	</div>
    </div>
</div>
