<div class="clear"></div>
<ul class="row-cat grid-clol-6">
	<li class="col-item3">
		<a href="{{store url=''}}women-8">
			<img  src="{{skin url=''}}images/media/cat-1.jpg" />
			<div class="content-center">
				<div class="row-title">Dresses</div>
			</div>
		</a>
	</li>
	<li class="col-item3">
		<a href="{{store url=''}}handbags">
			<img  src="{{skin url=''}}images/media/cat-2.jpg" />
			<div class="content-center">
				<div class="row-title">Suits</div>
			</div>
		</a>
	</li>
	<li class="col-item3">
		<a href="{{store url=''}}accessories">
			<img  src="{{skin url=''}}images/media/cat-3.jpg" />
			<div class="content-center">
				<div class="row-title">Accessories</div>
			</div>
		</a>
	</li>
</ul>